body,
      html {
        font-family: monospace;
        font-size: large;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #221f1f;
      }
      #hexfield {
        position: relative;
        cursor: pointer;
      }
      #marker {
        position: absolute;
        width: 90px;
        height: 90px;
        background-image: url("./img/spaceship.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #healthmarker {
        position: absolute;
        width: 80px;
        height: 80px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #mindmarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #destinymarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #notorietymarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      .context-menu {
        position: absolute;
        z-index: 1000;
        width: 200px;
        background: white;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px #888;
      }
      
      .context-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .context-menu ul li {
        padding: 10px;
        cursor: pointer;
      }
      
      .context-menu ul li:hover {
        background-color: #f7f7f7;
      }
      
      .menu-bar {
        position: fixed;
        left: 0;
        top: 0;
        width: 200px; /* Breite der Menüleiste */
        height: 100%;
        background-color: #333; /* Hintergrundfarbe der Menüleiste */
        padding: 20px;
        box-sizing: border-box;
      }
      
      .menu-btn {
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        color: white;
        background-color: #555;
        border: none;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
      }
      
      .menu-btn:hover {
        background-color: #777;
      }
      
      .sheet-window {
        display: none; /* standardmäßig versteckt */
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 37%;
        height: 80%;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        padding: 20px;
        box-sizing: border-box;
        z-index: 10;
        overflow: auto; /* Falls der Inhalt zu groß ist */
      }
      
      #head {
        width: 660px;
        display: flex;
        justify-content: space-between;
      }

      .sheet-window .health {
        background-image: url('./img/health.png');
        background-size: cover;
        position: relative;
        height: 260px;
        width: 670px;
      }

      
      .mind-destiny {
        display: flex;   
        width: 100%;  
      }

      .char-values[data-group="mind"] {
        flex: 1;
        background-image: url('./img/mind.png');
        background-size: 100% 100%;
        position: relative;
        height: 100px;
        width: 48%;
      }

      .char-values[data-group="destiny"] {
        flex: 1;
        background-image: url('./img/destiny.png');
        background-size: 100% 100%;
        position: relative;
        height: 100px;
        width: 48%;
      }

      .notoriety-weapons-auxilliary {
        display: flex;   
        width: 100%;  
      }

      .notoriety-weapons {
        display: flex;
        flex-direction: column;
        width: 50%;
      }

      .char-values[data-group="notoriety"] {
        background-image: url('./img/notoriety.png');
        background-size: 100% 100%;
        position: relative;
        height: 100px;
        width: 100%;
      }
      
      .weapons {
        display: flex;
        flex-direction: column;
        background-image: url('./img/weapons.png');
        background-size: 100% 100%;
        position: relative;
        height: 180px;
        width: 100%;
      }

      .weapon-input {
        display: flex;
        flex-direction: column;
        width: 45%;
      }
      
      .char-section label {
        display: block;
        margin-bottom: 5px;
      }
      
      .char-section .char-values {
        position: relative;

        
      }
      
      .char-section .char-value {
        display: inline-block;
        margin-right: 10px;
        padding: 5px;
        border: 2px solid transparent;
        border-radius: 50%;
        cursor: pointer;
      }   
