body,
      html {
        font-family: monospace;
        font-size: large;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #221f1f;
        overflow: hidden;
      }
      #hexfield {
        position: absolute;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: white;     
      }
      #marker {
        position: absolute;
        width: 60px;
        height: 60px;
        background-image: url("./img/spaceship.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      .soiMarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/soiMarker.png");
        background-size: cover;
        visibility: visible;
      }

      #healthmarker {
        position: absolute;
        width: 80px;
        height: 80px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #mindmarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #destinymarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #notorietymarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #defaultWeaponMarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #weaponAMarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #weaponBMarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #lucremarkerA {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #lucremarkerB {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #lucremarkerC {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none; 
      }

      #starpointsmarkerA {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none; 
      }

      #starpointsmarkerB {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none; 
      }

      .context-menu {
        position: absolute;
        z-index: 1000;
        width: 200px;
        background: white;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px #888;
      }
      
      .context-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .context-menu ul li {
        padding: 10px;
        cursor: pointer;
      }
      
      .context-menu ul li:hover {
        background-color: #f7f7f7;
      }
      
      .menu-bar {
        position: fixed;
        left: 0;
        top: 0;
        width: 200px; /* Breite der Menüleiste */
        height: 100%;
        background-color: #333; /* Hintergrundfarbe der Menüleiste */
        padding: 20px;
        box-sizing: border-box;
      }
      
      .menu-btn {
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        color: white;
        background-color: #555;
        border: none;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
      }
      
      .menu-btn:hover {
        background-color: #777;
      }
      
      .sheet-window {
        display: none; /* standardmäßig versteckt */
        position: fixed;
        left: 30%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 720px;
        height: 80%;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        padding: 20px;
        box-sizing: border-box;
        z-index: 10;
        overflow: auto; /* Falls der Inhalt zu groß ist */
      }

      .combatSheet {
        display: none; /* standardmäßig versteckt */
        position: fixed;
        left: 70%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 720px;
        height: 80%;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        padding: 20px;
        box-sizing: border-box;
        z-index: 10;
        overflow: auto; /* Falls der Inhalt zu groß ist */
      }
      
      #head {
        width: 660px;
        display: flex;
        justify-content: space-between;
      }

      .sheet-window .health {
        background-image: url('./img/health.png');
        background-size: cover;
        position: relative;
        height: 260px;
        width: 676px;
      }

      
      .mind-destiny {
        display: flex;   
        width: 100%;  
      }

      .char-values[data-group="mind"] {
        flex: 1;
        background-image: url('./img/mind.png');
        background-size: cover;
        position: relative;
        height: 100px;
        width: 50%;
      }

      .char-values[data-group="destiny"] {
        flex: 1;
        background-image: url('./img/destiny.png');
        background-size: cover;
        position: relative;
        height: 100px;
        width: 50%;
      }

      .notoriety-weapons-auxilliary {
        display: flex;   
        width: 100%;  
      }

      .notoriety-weapons {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 1px;
      }

      .char-values[data-group="notoriety"] {
        background-image: url('./img/notoriety.png');
        background-size: cover;
        position: relative;
        height: 100px;
        width: 100%;
      }
      
      .weapons {
        display: flex;
        flex-direction: column;
        margin-left: 1px;
        background-image: url('./img/weapons.png');
        background-size: cover;
        position: relative;
        height: 164px;
        width: 100%;
      }

      .weapon-input {
        position: relative;
        top: 64%;
        left: 26.5%;
        transform: translate(-50%, -50%);
        gap: 17px;
        display: flex;
        flex-direction: column;
        width: 36%;
      }

      .auxilliary {
        background-image: url('./img/auxilliary.png');
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: row;
        width: 48.9%;
        height: 263px;
      }

      .auxNameInputs {
        position: relative;
        top: 68%;
        left: 30%;
        transform: translate(-50%, -50%);
        gap: 21px;
        display: flex;
        flex-direction: column;
        width: 42%;
      }

      .auxEventInputs {
        position: relative;
        top: 68%;
        left: 41%;
        transform: translate(-50%, -50%);
        gap: 21px;
        display: flex;
        flex-direction: column;
        width: 16%;
      }

      .lucre {
        background-image: url('./img/lucre.png');
        background-size: cover;
        position: relative;
        height: 144px;
        width: 99%;
        margin-left: 2px;
      }

      .starpoints {
        background-image: url('./img/starpoints.png');
        background-size: cover;
        position: relative;
        height: 87px;
        width: 99%;
        margin-left: 2px;
      }

      .shipsheet {
        background-image: url('./img/shipsheet.png');
        background-size: cover;
        position: relative;
        height: 925px;
        width: 680px;
        margin-top: 2px;
      }
      
      #shipname {
        position: relative;
        top: 1.2%;
        left: 57%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        text-align: left;
        font-family: monospace;
      }

      #hulldmgMarker {
        position: absolute;
        width: 90px;
        height: 90px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #cannonsMarker {
        position: absolute;
        width: 90px;
        height: 90px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }
      
      #thrusterMarker {
        position: absolute;
        width: 90px;
        height: 90px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #fuelcellMarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      .soiHexInputs {
        position: relative;
        top: 84%;
        left: 14.5%;
        transform: translate(-50%, -50%);
        gap: 17px;
        display: flex;
        flex-direction: column;
        width: 55px;
      }

      .soiNameInputs {
        position: relative;
        top: 64.8%;
        left: 35.9%;
        transform: translate(-50%, -50%);
        gap: 17px;
        display: flex;
        flex-direction: column;
        width: 120px;
      }

      .soiEventNrInputs {
        position: relative;
        top: 45.5%;
        left: 59.5%;
        transform: translate(-50%, -50%);
        gap: 17px;
        display: flex;
        flex-direction: column;
        width: 55px;
      }
      
      .char-section label {
        display: block;
        margin-bottom: 5px;
      }
      
      .char-section .char-values {
        position: relative;

        
      }
      
      .char-section .char-value {
        display: inline-block;
        margin-right: 10px;
        padding: 5px;
        border: 2px solid transparent;
        border-radius: 50%;
        cursor: pointer;
      }   
