body,
      html {
        font-family: monospace;
        font-size: large;
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #221f1f;
        overflow: hidden;
        color: #ffffff;
      }

      /* Stellen Sie sicher, dass das HTML und BODY-Element mindestens so hoch wie der Viewport sind */
html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* Container für den gesamten Inhalt, um Platz für den Footer zu machen */
.body-container {
  margin-bottom: 30px; /* Höhe des Footers */
}

/* Der Footer selbst */
footer {
  position: fixed; /* Fixiert den Footer am unteren Rand des Bildschirms */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px; /* Die Höhe Ihres Footers */
  background-color: #333; /* Die Hintergrundfarbe Ihres Footers */
  color: white; /* Die Textfarbe Ihres Footers */
  display: flex;
  justify-content: center; /* Zentriert den Inhalt des Footers horizontal */
  align-items: center; /* Zentriert den Inhalt des Footers vertikal */
  z-index: 100; /* Stellt sicher, dass der Footer über anderen Elementen liegt */
}

/* Link-Stil im Footer */
a {
  color: white; /* oder jede andere gewünschte Farbe */
  text-decoration: none; /* Entfernt die Unterstreichung von Links */
}

/* Link-Stil im Footer beim Hovern */
a:hover {
  text-decoration: underline; /* Fügt eine Unterstreichung beim Hovern hinzu */
}


      #hexfield {
        position: absolute;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: white;     
      }
      #marker {
        position: absolute;
        width: 60px;
        height: 60px;
        background-image: url("./img/spaceship.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      .soiMarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/soiMarker.png");
        background-size: cover;
        visibility: visible;
      }

      #healthmarker {
        position: absolute;
        width: 80px;
        height: 80px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #mindmarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #destinymarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #notorietymarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #defaultWeaponMarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #weaponAMarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #weaponBMarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #lucremarkerA {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #lucremarkerB {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #lucremarkerC {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none; 
      }

      #starpointsmarkerA {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none; 
      }

      #starpointsmarkerB {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none; 
      }

      .context-menu {
        position: absolute;
        z-index: 1000;
        width: 200px;
        background: #333;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px #494949;
      }
      
      .context-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .context-menu ul li {
        padding: 10px;
        cursor: pointer;
      }
      
      .context-menu ul li:hover {
        background-color: #3a3a3a;
      }
      
      .menu-bar {
        position: fixed;
        left: 0;
        top: 0;
        width: 200px; /* Breite der Menüleiste */
        height: 100%;
        background-color: #333; /* Hintergrundfarbe der Menüleiste */
        padding: 20px;
        box-sizing: border-box;
      }
      
      .menu-btn {
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        color: white;
        background-color: #555;
        border: none;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
      }
      
      .menu-btn:hover {
        background-color: #777;
      }
      
      .sheet-window {
        display: none; /* standardmäßig versteckt */
        position: fixed;
        left: 30%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 720px;
        height: 80%;
        background-color: white;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        padding: 20px;
        box-sizing: border-box;
        z-index: 10;
        overflow: auto; /* Falls der Inhalt zu groß ist */
      }

      .combatSheet {
        display: none; /* standardmäßig versteckt */
        position: fixed;
        left: 70%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 720px;
        height: 80%;
        background-color: #333;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        padding: 20px;
        box-sizing: border-box;
        z-index: 10;
        overflow: auto; /* Falls der Inhalt zu groß ist */
      }
      
      #head {
        width: 660px;
        display: flex;
        justify-content: space-between;
      }

      .sheet-window .health {
        background-image: url('./img/health.png');
        background-size: cover;
        position: relative;
        height: 260px;
        width: 676px;
      }

      
      .mind-destiny {
        display: flex;   
        width: 100%;  
      }

      .char-values[data-group="mind"] {
        flex: 1;
        background-image: url('./img/mind.png');
        background-size: cover;
        position: relative;
        height: 100px;
        width: 50%;
      }

      .char-values[data-group="destiny"] {
        flex: 1;
        background-image: url('./img/destiny.png');
        background-size: cover;
        position: relative;
        height: 100px;
        width: 50%;
      }

      .notoriety-weapons-auxilliary {
        display: flex;   
        width: 100%;  
      }

      .notoriety-weapons {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 1px;
      }

      .char-values[data-group="notoriety"] {
        background-image: url('./img/notoriety.png');
        background-size: cover;
        position: relative;
        height: 100px;
        width: 100%;
      }
      
      .weapons {
        display: flex;
        flex-direction: column;
        margin-left: 1px;
        background-image: url('./img/weapons.png');
        background-size: cover;
        position: relative;
        height: 164px;
        width: 100%;
      }

      .weapon-input {
        position: relative;
        top: 64%;
        left: 26.5%;
        transform: translate(-50%, -50%);
        gap: 17px;
        display: flex;
        flex-direction: column;
        width: 36%;
      }

      .auxilliary {
        background-image: url('./img/auxilliary.png');
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: row;
        width: 48.9%;
        height: 263px;
      }

      .auxNameInputs {
        position: relative;
        top: 68%;
        left: 30%;
        transform: translate(-50%, -50%);
        gap: 21px;
        display: flex;
        flex-direction: column;
        width: 42%;
      }

      .auxEventInputs {
        position: relative;
        top: 68%;
        left: 41%;
        transform: translate(-50%, -50%);
        gap: 21px;
        display: flex;
        flex-direction: column;
        width: 16%;
      }

      .lucre {
        background-image: url('./img/lucre.png');
        background-size: cover;
        position: relative;
        height: 144px;
        width: 99%;
        margin-left: 2px;
      }

      .starpoints {
        background-image: url('./img/starpoints.png');
        background-size: cover;
        position: relative;
        height: 87px;
        width: 99%;
        margin-left: 2px;
      }

      .shipsheet {
        background-image: url('./img/shipsheet.png');
        background-size: cover;
        position: relative;
        height: 925px;
        width: 680px;
        margin-top: 2px;
      }
      
      #shipname {
        position: relative;
        top: 1.2%;
        left: 57%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        text-align: left;
        font-family: monospace;
      }

      #hulldmgMarker {
        position: absolute;
        width: 90px;
        height: 90px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #cannonsMarker {
        position: absolute;
        width: 90px;
        height: 90px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }
      
      #thrusterMarker {
        position: absolute;
        width: 90px;
        height: 90px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      #fuelcellMarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      .enemyShipWeaponMarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;}

      .enemyShipDamageMarker {
        position: absolute;
        width: 90px;
        height: 90px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      .deleteEnemyShipBtn {
        position: relative;
        top: 0.5%;
        left: 96.5%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        text-align: left;
        font-family: monospace;
      }

      .enemyShip {
        background-image: url('./img/shipCombat.png');
        background-size: cover;
        position: relative;
        height: 330px;
        width: 680px;
        margin-top: 2px;
      }

      .addCombatant {
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        color: white;
        background-color: #555;
        border: none;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
      }

      .addCombatant:hover {
        background-color: #777;
      }

      .deleteEnemyBtn {
        position: relative;
        top: 0.5%;
        left: 96.5%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        text-align: left;
        font-family: monospace;
      }

      .enemyProwessInput {
        position: relative;
        top: 70%;
        left: 19.5%;
        transform: translate(-50%, -50%);
        gap: 17px;
        display: flex;
        flex-direction: column;
        width: 28px;
        height: 24px;
      }

      .enemyNameInput {
        position: relative;
        top: 23.3%;
        left: 81%;
        transform: translate(-50%, -50%);
        gap: 17px;
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 20px;
      }

      .enemyWeaponMarker {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;}

      .enemyDamageMarker {
        position: absolute;
        width: 90px;
        height: 90px;
        background-image: url("./img/marker.png");
        background-size: cover;
        visibility: hidden;
        pointer-events: none;
      }

      .enemy {
        background-image: url('./img/characterCombat.png');
        background-size: cover;
        position: relative;
        height: 280px;
        width: 680px;
        margin-top: 2px;
      }

      .enemyShipProwessInput {
        position: relative;
        top: 69%;
        left: 20.5%;
        transform: translate(-50%, -50%);
        gap: 17px;
        display: flex;
        flex-direction: column;
        width: 28px;
        height: 24px;
      }

      .enemyShipNameInput {
        position: relative;
        top: 18%;
        left: 83%;
        transform: translate(-50%, -50%);
        gap: 17px;
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 20px;
      }

      .soiHexInputs {
        position: relative;
        top: 84%;
        left: 14.5%;
        transform: translate(-50%, -50%);
        gap: 17px;
        display: flex;
        flex-direction: column;
        width: 55px;
      }

      .soiNameInputs {
        position: relative;
        top: 64.8%;
        left: 35.9%;
        transform: translate(-50%, -50%);
        gap: 17px;
        display: flex;
        flex-direction: column;
        width: 120px;
      }

      .soiEventNrInputs {
        position: relative;
        top: 45.5%;
        left: 59.5%;
        transform: translate(-50%, -50%);
        gap: 17px;
        display: flex;
        flex-direction: column;
        width: 55px;
      }
      
      .char-section label {
        display: block;
        margin-bottom: 5px;
      }
      
      .char-section .char-values {
        position: relative;

        
      }
      
      .char-section .char-value {
        display: inline-block;
        margin-right: 10px;
        padding: 5px;
        border: 2px solid transparent;
        border-radius: 50%;
        cursor: pointer;
      }


      #log {
        background-color: #333;
        color: white;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto;
      }

      #logEventInput {
        position: relative;
        width: 40px;
      }

      #logInput {
        width: 70%;      
      }

      .loglist {
        list-style-type: none; /* Entfernt Bulletpunkte der Liste */
        overflow-y: auto;
        padding: 0; /* Entfernt den Innenabstand */
        margin: 0; /* Entfernt den Außenabstand */
        height: 83%;
        border-bottom: 1px solid #ccc;
      }

      .logentry {
        font-size: 14px;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: left;
        padding: 5px;
        box-sizing: border-box;
      }

      .logMenu {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 20px;
        box-sizing: border-box;
      }



      .logBtn {
        display: block;
        padding: 10px;
        margin: 5px;
        color: white;
        background-color: #555;
        border: none;
        width: 20%;
        box-sizing: border-box;
        cursor: pointer;
      }

      .logBtn:hover {
        background-color: #777;
      }

      .logButtons {
        display: flex;
        flex-direction: row;
        padding: 10px;
        width: 100%;
        justify-content: center;
      }

      #tutorial {
        background-color: #333;
        color: white;
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto;
        align-items: center;
      }


      .diceroller {
        position: fixed; /* Fixiert das Element an einer Position auf dem Bildschirm */
        top: 0; /* Startet oben auf dem Bildschirm */
        right: 0; /* Platziert das Element am rechten Rand des Bildschirms */
        width: 200px; /* Breite des Elements */
        height: 100%; /* Höhe des Elements, um es auf volle Bildschirmhöhe zu strecken */
        background-color: #333; /* Hintergrundfarbe des Elements */
        border-left: 1px solid #ccc; /* Trennlinie zur linken Seite */
        box-shadow: -2px 0 5px rgba(0,0,0,0.1); /* Schattenwurf nach links */
        z-index: 1000; /* Stellt sicher, dass es über anderen Elementen liegt */
        overflow-y: auto; /* Ermöglicht das Scrollen, wenn der Inhalt länger als der Bildschirm ist */
      }
      
      .diceinputs {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
      }

      .diceinput {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30px;
      }

      .dicelabel {
        font-size: 14px;
        margin-bottom: 5px;
        color: #ffffff;
        padding: 3px;
        margin-right: 4px;
        margin-left: 4px;
        margin-top: 5px;
      }

      .dice-btn {
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        color: white;
        background-color: #555;
        border: none;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
      }

      .dice-btn:hover {
        background-color: #777;
      }

      .diceroller ul.diceoutput {
        list-style-type: none; /* Entfernt Bulletpunkte der Liste */
        overflow-y: auto;
        padding: 0; /* Entfernt den Innenabstand */
        margin: 0; /* Entfernt den Außenabstand */
        height: 82%;
        border-bottom: 1px solid #ccc;
      }


      .diceoutputitem {
        font-size: 14px;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;
      }
      
